@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .container1 {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  .checkMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #979797;
    border-radius: 0.2rem;
    /* border: solid 2px white; */
  }

  .checkMark::after {
    content: "";
    position: absolute;
    display: none;
    left: 11px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  .checkMark:hover {
    background-color: rgba(89, 100, 224, 0.35);
  }

  .input:checked + .checkMark::after {
    display: block;
  }

  .input:checked + .checkMark {
    background-color: rgb(89, 100, 224);
    border: initial;
  }
}
